.projects {
  overflow-x: hidden;
}

.project {
  padding: 0 15px;
}

.project:not(:last-child) {
  margin-bottom: 100px;
}

.project {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
}

.project-logo-wrapper {
  grid-area: 1 / 1 / 2 / 2;
}

.project-meta {
  padding-top: 10px;
  position: relative;
  grid-area: 2 / 1 / 3 / 2;
}

.project-button.is-mobile {
  display: none;
}

/** Slider **/
.project-slider {
  position: relative;
  grid-area: 1 / 2 / 3 / 3;
  flex-basis: 985px;
  width: 985px;
  height: 540px;
}

.project-slide-image {
  height: 502px;
  width: 985px;
}

.project-slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-slider-description {
  margin-bottom: 15px;
  font-size: 19px;
  letter-spacing: 0.1em;
  line-height: 20px;
  font-weight: 300;
  color: var(--accent-color);
}

.project-slider-controls {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10px;
  height: 32px;
  padding: 0 10px;
  bottom: 0;
  left: 0;
  background: var(--white);
  z-index: 1000;
}

.project-slider-controls .swiper-button-prev,
.project-slider-controls .swiper-button-next {
  position: static;
  margin-top: 0;
  height: 32px;
}

.project-slider-controls .swiper-button-next:after,
.project-slider-controls .swiper-button-prev:after {
  content: '\2192';
  font-size: 14px;
  color: var(--text-color);
}

.project-slider-controls .swiper-button-prev:after,
.project-slider-controls .swiper-rtl .swiper-button-next:after {
  content: '\2190';
}

.project-slider .project-logo {
  display: none;
}

.project-logo {
  padding-top: 45px;
  display: block;
}

.project-name {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 52px;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 54px;
  text-align: left;
  color: var(--text-color);
}

.project-results {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  width: 150px;
  text-align: center;
}

.project-results li {
  margin-bottom: 10px;
  font-size: 19px;
  letter-spacing: 0.09em;
  line-height: 28px;
  border-bottom: 1px solid var(--text-color);
}

.project-btn {
  margin-top: 50px;
  min-width: 180px;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 10px 5px;
}

.project-services {
  position: absolute;
  right: 0;
  bottom: 0;
}

.project-services span {
  display: block;
  padding-right: 30px;
  margin-bottom: 20px;
  font-size: 33px;
  font-family: "Point", sans-serif;
  letter-spacing: 0.05em;
  line-height: 43px;
  text-align: right;
}

.project-services span::after {
  position: absolute;
  top: 23px;
  right: 0;
  content: '';
  width: 24px;
  height: 1px;
  border-top: 1px solid var(--text-color);
}

.project-services ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.project-services li {
  padding: 5px 5px;
  font-size: 18px;
}

@media (max-width: 1600px) {
  .project {
    grid-template-columns: 0.9fr 1fr;
  }

  .project-services {
    position: static;
  }

  .project-services span {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .project-services span::after {
    display: none;
  }

  .project:not(:last-child) {
    margin-bottom: 120px;
  }

  .project-logo {
   padding-top: 0;
  }

  .project-btn {
    padding: 10px 17px 8px;
  }

  .project-btn br {
    display: none;
  }
}

@media (max-width: 1440px) {
  .project-slider {
    width: 890px;
    flex-basis: 890px;
  }

  .project-name br {
    display: none;
  }

  .project-name {
    font-size: 42px;
    line-height: 45px;
  }
}

@media (max-width: 1280px) {
  .project {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    margin: auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .project-logo-wrapper .project-logo {
    display: none;
  }

  .project-logo {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
  }

  .project-slider {
    width: 100%;
    flex-basis: 100%;
  }

  .project-slide-image {
    width: 100%;
    height: 350px;
  }

  .project-meta {
    margin-top: 20px;
    flex-basis: auto;
    min-height: auto;
    width: 100%;
  }

  .project-slider-description {
    font-size: 14px;
    margin-bottom: 6px;
  }

  .project-name {
    margin-top: 0;
    font-size: 28px;
  }

  .project-logo.is-desktop {
    display: none;
  }

  .project-name {
    margin-bottom: 0;
  }

  .project-services span {
    margin-top: 20px;
  }

  .project-services span,
  .project-description {
    margin-bottom: 10px;
    font-family: "Point", sans-serif;
    border-bottom: 1px solid #cccccc;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
  }

  .project-results {
    text-align: initial;
  }

  .project-results li,
  .project-services li {
    border: none;
    font-size: 16px;
    letter-spacing: initial;
    line-height: 20px;
    padding: 5px 5px;
    margin: 0;
  }

  .project-btn br {
    display: none;
  }

  .project-button.is-mobile {
    display: block;
    text-align: center;
  }

  .project-button.is-desktop {
    display: none;
  }

  .project-button {
    order: 12
  }

  .project-slider {
    order: 10;
  }

  .project-meta {
    order: 11;
  }

  .project-slider .project-logo {
    display: block;
    background: #ffffff;
    padding: 10px 5px;
  }

  .project-slider .project-logo img {
    max-width: 90%;
    height: auto;
    margin: auto;
  }

  .project:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .project-slide-image {
    height: 250px;
  }

  .project-slider .project-logo img {
    max-width: 60%;
  }

  .projects {
    padding-top: 30px;
  }
}
